<html>
    <head>
        <title>kindomOfAmalurTrainersGrid - {{val}}</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="static/LIBS/extjs/resources/ext-theme-classic/ext-theme-classic-all-debug.css">
        <script type="text/javascript" src="static/LIBS/extjs/ext-all-debug.js"></script>
        
        <link rel="stylesheet" type="text/css" href="static/index.css">
        <script type="text/javascript" src="static/index.js"></script>
        <script type="text/javascript" src="static/bagsInfos.js"></script>
    </head>
    <body onload="init();"></body>
</html>